
@import url("https://p.typekit.net/p.css?s=1&k=xtq3fmh&ht=tk&f=52246.52247.52248.52249.52250.52251.52252.52253.52254.52255.52256.52257.52258.52259.52260.52261&a=11937171&app=typekit&e=css");


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

    --bounce-easing: linear(
      0, 0.0157, 0.0625, 0.1407, 0.25 18.18%, 0.5625, 1 36.36%, 0.8907, 0.8125,
      0.7657, 0.75, 0.7657, 0.8125, 0.8905, 1, 0.9532, 0.9375, 0.9531, 1, 0.9844, 1
    );
    --spring-easing: linear(
      0, 0.009, 0.035 2.1%, 0.141, 0.281 6.7%, 0.723 12.9%, 0.938 16.7%, 1.017,
      1.077, 1.121, 1.149 24.3%, 1.159, 1.163, 1.161, 1.154 29.9%, 1.129 32.8%,
      1.051 39.6%, 1.017 43.1%, 0.991, 0.977 51%, 0.974 53.8%, 0.975 57.1%,
      0.997 69.8%, 1.003 76.9%, 1.004 83.8%, 1
    );
   
    --elastic-easing: linear(
      0, 0.218 2.1%, 0.862 6.5%, 1.114, 1.296 10.7%, 1.346, 1.37 12.9%, 1.373,
      1.364 14.5%, 1.315 16.2%, 1.032 21.8%, 0.941 24%, 0.891 25.9%, 0.877,
      0.869 27.8%, 0.87, 0.882 30.7%, 0.907 32.4%, 0.981 36.4%, 1.012 38.3%, 1.036,
      1.046 42.7% 44.1%, 1.042 45.7%, 0.996 53.3%, 0.988, 0.984 57.5%, 0.985 60.7%,
      1.001 68.1%, 1.006 72.2%, 0.998 86.7%, 1
    );  
}

#scroll-down {
  stroke-width: 2px;
  overflow:visible; 
  animation: bounce 8s infinite 1s;
  --arrow-scroller-color: #D6FC8A;
  z-index:999;
}
#scroll-down .cadre {
  fill: var(--arrow-scroller-color);
}
#scroll-down .fleche {
  stroke: var(--arrow-scroller-color);
}

@keyframes bounce {
  0%, 4%, 10%, 16%, 20%, 100% {
    transform: translateY(0);
  }
  8% {
      transform: translateY(-30px);
  }
  12% {
      transform: translateY(-15px);
  }
}
.albert {
  font-family: "Albert Sans", sans-serif!important;
}

.alkera-line {
  background-size: 1px 100%, 100% 1px, 1px 100% , 100% 1px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
}
.alkera-line.foret {
  background-image: repeating-linear-gradient(0deg, theme('colors.feuille'), theme('colors.feuille') 3px, transparent 3px, transparent 9px, theme('colors.feuille') 9px), repeating-linear-gradient(90deg, theme('colors.feuille'), theme('colors.feuille') 3px, transparent 3px, transparent 9px, theme('colors.feuille') 9px), repeating-linear-gradient(180deg, theme('colors.feuille'), theme('colors.feuille') 3px, transparent 3px, transparent 9px, theme('colors.feuille') 9px), repeating-linear-gradient(270deg, theme('colors.feuille'), theme('colors.feuille') 3px, transparent 3px, transparent 9px, theme('colors.feuille') 9px);
}
.alkera-line.amande {
  background-image: repeating-linear-gradient(0deg, theme('colors.amande'), theme('colors.amande') 3px, transparent 3px, transparent 9px, #333333 9px), repeating-linear-gradient(90deg, #333333, #333333 3px, transparent 3px, transparent 9px, #333333 9px), repeating-linear-gradient(180deg, #333333, #333333 3px, transparent 3px, transparent 9px, #333333 9px), repeating-linear-gradient(270deg, #333333, #333333 3px, transparent 3px, transparent 9px, #333333 9px);
}


@keyframes rotation {
  from { transform: rotate(0deg); }
  to { transform: rotate(359.9deg); }
}
    
@font-face {
font-family:"field-gothic-wide";
src:url("https://use.typekit.net/af/a2a834/0000000000000000774ec719/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff2"),url("https://use.typekit.net/af/a2a834/0000000000000000774ec719/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff"),url("https://use.typekit.net/af/a2a834/0000000000000000774ec719/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:200;font-stretch:normal;
}

@font-face {
font-family:"field-gothic-wide";
src:url("https://use.typekit.net/af/a1a20e/0000000000000000774ec71d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/a1a20e/0000000000000000774ec71d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/a1a20e/0000000000000000774ec71d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"field-gothic-wide";
src:url("https://use.typekit.net/af/fee1d2/0000000000000000774ec728/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/fee1d2/0000000000000000774ec728/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/fee1d2/0000000000000000774ec728/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"field-gothic-wide";
src:url("https://use.typekit.net/af/7fb58a/0000000000000000774ec725/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/7fb58a/0000000000000000774ec725/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/7fb58a/0000000000000000774ec725/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"field-gothic-wide";
src:url("https://use.typekit.net/af/f39fb0/0000000000000000774ec714/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/f39fb0/0000000000000000774ec714/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/f39fb0/0000000000000000774ec714/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}

@font-face {
font-family:"field-gothic-wide";
src:url("https://use.typekit.net/af/dfad8d/0000000000000000774ec70a/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/dfad8d/0000000000000000774ec70a/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/dfad8d/0000000000000000774ec70a/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"field-gothic-wide";
src:url("https://use.typekit.net/af/f5e731/0000000000000000774ec71f/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff2"),url("https://use.typekit.net/af/f5e731/0000000000000000774ec71f/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff"),url("https://use.typekit.net/af/f5e731/0000000000000000774ec71f/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:800;font-stretch:normal;
}

@font-face {
font-family:"field-gothic-wide";
src:url("https://use.typekit.net/af/ea6f0e/0000000000000000774ec702/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/ea6f0e/0000000000000000774ec702/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/ea6f0e/0000000000000000774ec702/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:900;font-stretch:normal;
}

@font-face {
font-family:"field-gothic-xwide";
src:url("https://use.typekit.net/af/03cd36/0000000000000000774ec6fb/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff2"),url("https://use.typekit.net/af/03cd36/0000000000000000774ec6fb/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff"),url("https://use.typekit.net/af/03cd36/0000000000000000774ec6fb/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:200;font-stretch:normal;
}

@font-face {
font-family:"field-gothic-xwide";
src:url("https://use.typekit.net/af/def00c/0000000000000000774ec6ff/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/def00c/0000000000000000774ec6ff/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/def00c/0000000000000000774ec6ff/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"field-gothic-xwide";
src:url("https://use.typekit.net/af/f0a2e9/0000000000000000774ec700/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/f0a2e9/0000000000000000774ec700/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/f0a2e9/0000000000000000774ec700/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"field-gothic-xwide";
src:url("https://use.typekit.net/af/a3ad02/0000000000000000774ec70d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/a3ad02/0000000000000000774ec70d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/a3ad02/0000000000000000774ec70d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"field-gothic-xwide";
src:url("https://use.typekit.net/af/f5f49d/0000000000000000774ec71e/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/f5f49d/0000000000000000774ec71e/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/f5f49d/0000000000000000774ec71e/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}

@font-face {
font-family:"field-gothic-xwide";
src:url("https://use.typekit.net/af/e81d88/0000000000000000774ec717/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/e81d88/0000000000000000774ec717/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/e81d88/0000000000000000774ec717/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"field-gothic-xwide";
src:url("https://use.typekit.net/af/dfa9d4/0000000000000000774ec70b/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff2"),url("https://use.typekit.net/af/dfa9d4/0000000000000000774ec70b/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff"),url("https://use.typekit.net/af/dfa9d4/0000000000000000774ec70b/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:800;font-stretch:normal;
}

@font-face {
font-family:"field-gothic-xwide";
src:url("https://use.typekit.net/af/aac0b7/0000000000000000774ec713/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/aac0b7/0000000000000000774ec713/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/aac0b7/0000000000000000774ec713/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:900;font-stretch:normal;
}

.tk-field-gothic-wide { font-family: "field-gothic-wide",sans-serif; }
.tk-field-gothic-xwide { font-family: "field-gothic-xwide",sans-serif; }